<div class="col-4 offset-1">
    <h4>Incomes</h4>
    <table class="table">
        <tbody>
          <tr *ngFor="let income of user?.incomes">
            <td> {{income.amount}} </td>
            <td> {{income.description}} </td> 
            <button type="button" class="btn btn-light btn-lg btn-block btn-sm"> 
              Update 
            </button>
            <button type="button" class="btn btn-light btn-lg btn-block btn-sm"> 
              Delete 
            </button>      
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-light btn-lg btn-block btn-sm" [routerLink]="['/addIncome']"> 
        Add an Income
      </button>
</div>
<div class="col-4 offset-1">
    <h4>Expenditures</h4>
    <table class="table">
        <tbody>
          <tr *ngFor="let expend of user?.expenditures">
            <td> {{expend.amount}} </td>
            <td> {{expend.description}} </td> 
            <button type="button" class="btn btn-light btn-lg btn-block btn-sm"> 
              Update 
            </button>
            <button type="button" class="btn btn-light btn-lg btn-block btn-sm"> 
              Delete 
            </button>      
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-light btn-lg btn-block btn-sm" [routerLink]="['/addExpenditure']"> 
        Add an Expenditure
      </button>
</div>